body {
    padding: 50px;
    background-color: #316cfe;
    font-family: 'Roboto Slab', serif;


}

#root {
    display: flex;
    justify-content: center;

}

.main-header {
    color: white;
    font-size: 48px;
    font-weight: bold;
}
